## Reject Inference
---

After discussion, we will first focus on building components that will allow us to iteratively produce the following RI methods:
* Performance supplementation 
* Fuzzy augmentation 
* Performance scoring

The first two were used in in Gen3 and will again be used as a potential method, with the Performance scoring being an evaluation method.

Then if we have time, we can try to build the iterative classification technique introduced by Experian, or some other deep generative framework.

---

RI is essentially a method of data augmentation, which means we should view it as a Transformer, with which providing data x, we will receive a output value indicating its weight in the final model.

In [1]:
import sys, os, warnings

sys.path.insert(1, "../..")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

import ml4risk.model_design.reject_inference as ri
from ml4risk.utils import create_fake_pii, create_fake_data

warnings.filterwarnings("ignore")

%load_ext autoreload
%autoreload 2

In [2]:
df = create_fake_data(100)
features = [col for col in df.columns if "feature" in col]
target_col = "target"

fa = ri.FuzzyAugmentation(fit_base_estimator=True, verbose=1, weight=1)

In [3]:
%time result = fa.fit_transform(df[features], df[target_col])

[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
CPU times: user 38.8 s, sys: 78.1 ms, total: 38.9 s
Wall time: 413 ms

In [4]:
result

    feature1  feature2   feature3  feature4  feature5  target    weight
0   9.683031  0.938831  91.941234  0.184437         4   False  0.795329
1   0.191950  2.946404  90.663488  0.598708         9   False  0.257130
2   6.216673  2.341537  73.242851  0.508050         8   False  0.668157
3   8.829319  0.469982   8.886273  0.558488         7   False  0.640938
4   3.465122  1.259867  85.664056  0.272033        10   False  0.776645
..       ...       ...        ...       ...       ...     ...       ...
95  5.769235  3.635913  71.079239  0.628163         3    True  0.192032
96  4.147826  3.188562  43.478348  1.979417         2    True  0.440925
97  7.564488  3.992744  81.539368  1.958881         6    True  0.082423
98  1.643484  3.418092  51.707702  0.217729         3    True  0.150290
99  2.669977  2.441624  92.596962  1.192334         0    True  0.898578

[200 rows x 7 columns]

In [5]:
result.loc[0]

   feature1  feature2   feature3  feature4  feature5  target    weight
0  9.683031  0.938831  91.941234  0.184437         4   False  0.795329
0  9.683031  0.938831  91.941234  0.184437         4    True  0.204671

In [8]:
result

    feature1  feature2   feature3  feature4  feature5  target    weight
0   9.683031  0.938831  91.941234  0.184437         4   False  0.795329
1   0.191950  2.946404  90.663488  0.598708         9   False  0.257130
2   6.216673  2.341537  73.242851  0.508050         8   False  0.668157
3   8.829319  0.469982   8.886273  0.558488         7   False  0.640938
4   3.465122  1.259867  85.664056  0.272033        10   False  0.776645
..       ...       ...        ...       ...       ...     ...       ...
95  5.769235  3.635913  71.079239  0.628163         3    True  0.192032
96  4.147826  3.188562  43.478348  1.979417         2    True  0.440925
97  7.564488  3.992744  81.539368  1.958881         6    True  0.082423
98  1.643484  3.418092  51.707702  0.217729         3    True  0.150290
99  2.669977  2.441624  92.596962  1.192334         0    True  0.898578

[200 rows x 7 columns]