### Objective

Pull PL data for Guardinex

In [3]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:

import psycopg2
conn = psycopg2.connect(host = 'localhost',port = 15494,database='sofi_dw',user='rarevalo@sofi.org',password=' ')

!pip install "snowflake-connector-python[pandas]" --quiet

import snowflake.connector

def get_snowflake_connection():
    ctx = snowflake.connector.connect(
        user="<username>",
        password="<password>",
        host="localhost",
        port=1444,
        account="sdm",
        warehouse="DATA_SCIENCE",
        database="DW_PRODUCTION",
        protocol="http"
    )
    return ctx


def run_query(sql):
    with get_snowflake_connection() as ctx:
        with ctx.cursor() as cs:
            cs.execute(sql)
            allthedata = cs.fetch_pandas_all()
            return allthedata
                
pd.set_option('display.max_rows', 500)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

#### PL_Base

%%time
pl_base = pd.read_sql("""with pl_base as (select
id as business_application_id
,applicant_id
,b.borrower_id
,dw_application_id


,first_name
,last_name
,email
,current_phone_number
,current_addr_line_1
,current_addr_line_2
,date_of_birth
,current_city   
,current_state
,current_postal_code current_zipcode

,ssn  

, case when date_fund is not null then 1 else 0 end as funded 


,application_type
,requested_amount
--,loan_amt
,initial_term
,interest_rate
--,interest_rate_type
--,property_state
--,estimated_property_value
--,down_payment_amount
,app.fraud_type
,app.fraudulent
--,referring_applicant_id
--,coborrower_applicant_id
--,assigned_operator
--,assigned_operator_date
--,product_category
--,rate_lock_effective_date
--,rate_lock_expiration_date
--,rate_lock_period
--,monthly_savings
--,lifetime_savings
,applied_city
,applied_state
,applied_zip
,applied_cbsa_name
,applied_cbsa_code
,app.employer_name
--,pl_funds_use
,case
when pl_funds_use='Career development course' then 'Other'
when pl_funds_use='Car or boat' then 'Other'
when pl_funds_use='Credit card payoff' then 'Credit Card Payoff'
when pl_funds_use='Elder care expenses' then 'Other'
when pl_funds_use='Engagement ring/wedding' then 'Other'
when pl_funds_use='Finance an investment' then 'Other'
when pl_funds_use='Fund home improvements' then 'Other'
when pl_funds_use='Getting engaged/married' then 'Other'
when pl_funds_use='Home improvement' then 'Home Improvement'
when pl_funds_use='Invest in career development' then 'Other'
when pl_funds_use='K-12 education' then 'Other'
when pl_funds_use='Loan consolidation' then 'Loan Consolidation'
when pl_funds_use='Major purchase' then 'Major Purchase'
when pl_funds_use='Make another major purchase' then 'Other'
when pl_funds_use='Medical expenses' then 'Other'
when pl_funds_use='Moving expenses' then 'Moving expenses'
when pl_funds_use='Other' then 'Other'
when pl_funds_use='Pay for medical expenses' then 'Other'
when pl_funds_use='Pay for relocation expenses' then 'Other'
when pl_funds_use='Pay off credit cards' then 'Credit Card Payoff'
when pl_funds_use='Pay off credit cards or other loans' then 'Credit Card Payoff'
when pl_funds_use='Pay off other loans' then 'Loan Consolidation'
when pl_funds_use='Travel' then 'Other'
end as loan_purpose
,tier
--,tier_type
,credit_score
,fico
,vantage
,gross_income
--,cosigned_ind
--,free_cash_flow_pre
--,free_cash_flow
--,real_cash_flow_pre
--,real_excess_cash_flow
--,years_of_experience
--,tax_burden_amount
--,revolving_credit_amount
--,installment_loan_payment
--,monthly_housing_cost
--,monthly_debt_service
--,col_grocery
--,col_healthcare
--,col_housing
--,col_miscellaneous
--,col_transportation
--,col_utilities
,initial_decision
--,current_decision
,sofi_score
,pl_custom_score
,reason
,app.housing_status
--,citizenship
--,age
,date_start
--,time_start
,date_submit
,date_doc_upload
--,date_income_review
--,date_signing
--,date_signed
--,num_application_reviews
--,num_complex_reviews
--,num_doc_uploads
--,num_income_reviews
,app.registration_date
,date_fund
--,date_credit_consent
--,mortgage_complete_application_date
--,fraud_outcome
--,date_qa_review_open
,current_activity
--,g_school_name
--,g_program
--,g_ctgry
--,g_grad_year
--,ug_school_name
--,ug_program
--,ug_ctgry
--,ug_grad_year
,consolidated_channel
,case
        when consolidated_channel in
             ('Affiliate', 'MKT-DM', 'SEM', 'Organic Search', 'www.sofi.com')
          then consolidated_channel
        else 'Others' end                                          as consolidated_channel_v2
--,attr_campaign_department
--,attr_channel
--,attr_campaign_category
--,attr_campaign_name
,attr_affiliate_referrer
,case when consolidated_channel ='Affiliate' and affiliate_referrer_name in
('Credit Karma', 'NerdWallet', 'Lending Tree', 'Natural Intelligence', 'Bankrate') then affiliate_referrer_name
when consolidated_channel in ( 'MKT-DM', 'SEM', 'Organic Search', 'www.sofi.com') then consolidated_channel
else 'Others' end as affiliate_referrer_name_v2
--,string
--,ref_query_string
--,ref_source
--,ref_device_type
--,ref_search_terms
--,tracking_custom_attribute_value
--,device
--,parent_application_id
,coborrower_indicator
--,pre_approved_date
,app_status
--,app_status_date
--,auto_uw_decision
--,campaign_code
--,final_years_of_experience
--,uw_tier_offered
--,credit_pull_date
--,current_uw_decision
--,current_uw_decision_date
--,existing_loan_amount
--,housing_association_monthly_dues
--,property_county_fips
--,max_loan_amount
--,adjusted_gross_income
--,campaign_welcome_bonus
--,submission_date
--,qc_fraud_check_active
,member_indicator
--,fraud_id_notes
,app.fraud_status
--,flow_version
--,applications_file_id
--,underwriting_version
--,pl_2018_tiering_grid_applied
--,challenger_name
--,free_cash_flow_old
--,real_excess_cash_flow_old
--,mta_channel
--,app_created_via_mobile
--,app_review_bypass_status
--,passed_paystub_income_verification
--,app_pre_start_date
--,snapshot_point
--,manual_income_review
--,manual_id_review
--,manual_app_review
--,manual_manager_review
--,manual_fraud_review
-- manual_qa_review
,no_touch
--,tracking_custom_attribute_value_latest_event
--,date_certified
--,first_disbursement_date
--,inschool_school
--,inschool_academic_term
--,inschool_academic_year
--,inschool_enrollment_type
--,repayment_option
--,rate_expiration_date
--,app_expire_date
--,slr_custom_score
--,school_type
--,mortgage_debt_to_income
--,mortgage_loan_to_value
--,mortgage_points
--,mortgage_loan_type
--,mortgage_disburse_date
--,mortgage_appraised_value
--,mortgage_cash_out_amount
--,mortgage_disclosure_sent_date
--,mortgage_lock_date
--,mortgage_rate_lock_period
--,mortgage_property_usage_type
--,mortgage_secondary_financing
--,is_first_time_home_buyer
--,business_application_uuid
--,mortgage_initial_decision_date
--,mortgage_prequal_latest_status
--,mortgage_clear_to_close_date
--,first_disbursement_amount
--,stearns_loan_officer_id
--,stearns_loan_officer_user_id
--,stearns_loan_officer_name
--,stearns_loan_officer_email
--,product_name
--,mla_flag
--,interest_rate_margin
--,attr_campaign_target
--,provenir_pl_tier_version
--,tier_table_version
--,percentage_rate_discount
--,campaign_affiliate_fee
--,cosigner_borrower_id
--,is_pl_refi_app
--,mortgage_loan_officer_phone
--,affiliate_fee_amt
--,affiliate_fee_date
--,affiliate_fee_sts
--,parent_fee_amt
--,parent_fee_date
--,parent_fee_sts
--,welcome_pmt_amt
--,welcome_pmt_date
--,welcome_pmt_sts
--,funding_expected_date
--,issued_date
--,slr_loan_type
--,pl_refi_cons_apps_count
,dtr_calc
,free_cash_flow_v2_calc
,risk_ability_to_pay_calc
--,credit_policy_version
--,first_date_of_underwriting
,income_verification_method

from dwmart.applications_file app
left join product_application_facts paf on app.id = paf.application_id
      left join affiliates aff on aff.affiliate_id = paf.affiliate_id
left join borrowers b on app.applicant_id = b.user_id
left join sofidw.ssn_history ssn on b.borrower_id = ssn.borrower_id 

where application_type IN ('PL')
and date_submit is not null 
and date_submit  between date('2021-01-01') and date('2022-05-31')
)




,socure_data as (
select *
from (
select a.*
, sp.outcome                                                                                             AS socure_outcome
,
case when sp.socure_id=0  or  sp.socure_id isnull then 0 else 1 end as socure_flag,
case when sp.outcome = 'FAIL' then 1 else 0 end as socure_flag_v2,
sp.kind_of_business
, sp.fraud_score_2
, sp.response -> 'fraud' -> 'scores' -> 1 -> 'score'                                                     as sigma_v2_score
, sp.fraud_score_1
, sp.email_risk_score
, sp.address_risk_score
, sp.phone_risk_score

    , case when sp.comments like '%zip%' then 1 else 0 end                                                   as CBSA_VOE_Flag
    , case
    when sp.fraud_reason_codes like '%I610%' or sp.fraud_reason_codes like 'I610%' or
     sp.fraud_reason_codes like '%I610' then 1
    else 0 end                                                                                         as i610_flag
    , case
    when sp.fraud_reason_codes like '%R701%' or sp.fraud_reason_codes like 'R701%' or
     sp.fraud_reason_codes like '%R701' then 1
    else 0 end                                                                                         as r701_flag
    , case
    when sp.fraud_reason_codes like '%R601%' or sp.fraud_reason_codes like 'R601%' or
     sp.fraud_reason_codes like '%R601' then 1
    else 0 end                                                                                         as r601_flag
    , case
    when sp.fraud_reason_codes like '%I626%' or sp.fraud_reason_codes like 'I626%' or
     sp.fraud_reason_codes like '%I626' then 1
    else 0 end                                                                                         as i626_flag
    , case
    when sp.fraud_reason_codes like '%R606%' or sp.fraud_reason_codes like 'R606%' or
     sp.fraud_reason_codes like '%R606' then 1
    else 0 end                                                                                         as r606_flag
    , case
    when sp.fraud_reason_codes like '%I553%' or sp.fraud_reason_codes like 'I553%' or
     sp.fraud_reason_codes like '%I553' then 1
    else 0 end                                                                                         as i553_flag
    , case
    when sp.fraud_reason_codes like '%R617%' or sp.fraud_reason_codes like 'R617%' or
     sp.fraud_reason_codes like '%R617' then 1
    else 0 end                                                                                         as r617_flag
    , case
    when sp.fraud_reason_codes like '%I705%' or sp.fraud_reason_codes like 'I705%' or
     sp.fraud_reason_codes like '%I705' then 1
    else 0 end                                                                                         as i705_flag
    , case
    when sp.fraud_reason_codes like '%R608%' or sp.fraud_reason_codes like 'R608%' or
     sp.fraud_reason_codes like '%R608' then 1
    else 0 end                                                                                         as r608_flag
    , case
    when sp.fraud_reason_codes like '%I609%' or sp.fraud_reason_codes like 'I609%' or
     sp.fraud_reason_codes like '%I609' then 1
    else 0 end                                                                                         as i609_flag
    , case
    when sp.fraud_reason_codes like '%R628%' or sp.fraud_reason_codes like 'R628%' or
     sp.fraud_reason_codes like '%R628' then 1
    else 0 end                                                                                         as r628_flag
    , case
    when sp.fraud_reason_codes like '%I616%' or sp.fraud_reason_codes like 'I616%' or
     sp.fraud_reason_codes like '%I616' then 1
    else 0 end                                                                                         as i616_flag
    , case
    when sp.fraud_reason_codes like '%R559%' or sp.fraud_reason_codes like 'R559%' or
     sp.fraud_reason_codes like '%R559' then 1
    else 0 end                                                                                         as r559_flag
    , case
    when sp.fraud_reason_codes like '%I711%' or sp.fraud_reason_codes like 'I711%' or
     sp.fraud_reason_codes like '%I711' then 1
    else 0 end                                                                                         as i711_flag
    , case
    when sp.fraud_reason_codes like '%R627%' or sp.fraud_reason_codes like 'R627%' or
     sp.fraud_reason_codes like '%R627' then 1
    else 0 end                                                                                         as r627_flag
    , case
    when sp.fraud_reason_codes like '%R566%' or sp.fraud_reason_codes like 'R566%' or
     sp.fraud_reason_codes like '%R566' then 1
    else 0 end                                                                                         as r566_flag
    , case
    when sp.fraud_reason_codes like '%V120%' or sp.fraud_reason_codes like 'V120%' or
     sp.fraud_reason_codes like '%V120' then 1
    else 0 end                                                                                         as v120_flag
    , case
    when sp.fraud_reason_codes like '%R623%' or sp.fraud_reason_codes like 'R623%' or
     sp.fraud_reason_codes like '%R623' then 1
    else 0 end                                                                                         as r623_flag
    , case
    when sp.fraud_reason_codes like '%R616%' or sp.fraud_reason_codes like 'R616%' or
     sp.fraud_reason_codes like '%R616' then 1
    else 0 end                                                                                         as r616_flag
    , case
    when sp.fraud_reason_codes like '%R631%' or sp.fraud_reason_codes like 'R631%' or
     sp.fraud_reason_codes like '%R631' then 1
    else 0 end                                                                                         as r631_flag
    , case
    when sp.fraud_reason_codes like '%I714%' or sp.fraud_reason_codes like 'I714%' or
     sp.fraud_reason_codes like '%I714' then 1
    else 0 end                                                                                         as i714_flag
    , case
    when sp.fraud_reason_codes like '%I550%' or sp.fraud_reason_codes like 'I550%' or
     sp.fraud_reason_codes like '%I550' then 1
    else 0 end                                                                                         as i550_flag
    , case
    when sp.fraud_reason_codes like '%I706%' or sp.fraud_reason_codes like 'I706%' or
     sp.fraud_reason_codes like '%I706' then 1
    else 0 end                                                                                         as i706_flag
    , case
    when sp.fraud_reason_codes like '%I625%' or sp.fraud_reason_codes like 'I625%' or
     sp.fraud_reason_codes like '%I625' then 1
    else 0 end                                                                                         as i625_flag
    , case
    when sp.fraud_reason_codes like '%R613%' or sp.fraud_reason_codes like 'R613%' or
     sp.fraud_reason_codes like '%R613' then 1
    else 0 end                                                                                         as r613_flag
    , case
    when sp.fraud_reason_codes like '%R567%' or sp.fraud_reason_codes like 'R567%' or
     sp.fraud_reason_codes like '%R567' then 1
    else 0 end                                                                                         as r567_flag
    , case
    when sp.fraud_reason_codes like '%I611%' or sp.fraud_reason_codes like 'I611%' or
     sp.fraud_reason_codes like '%I611' then 1
    else 0 end                                                                                         as i611_flag
    , case
    when sp.fraud_reason_codes like '%I614%' or sp.fraud_reason_codes like 'I614%' or
     sp.fraud_reason_codes like '%I614' then 1
    else 0 end                                                                                         as i614_flag
    , case
    when sp.fraud_reason_codes like '%R624%' or sp.fraud_reason_codes like 'R624%' or
     sp.fraud_reason_codes like '%R624' then 1
    else 0 end                                                                                         as r624_flag
    , case
    when sp.fraud_reason_codes like '%R635%' or sp.fraud_reason_codes like 'R635%' or
     sp.fraud_reason_codes like '%R635' then 1
    else 0 end                                                                                         as r635_flag
    , case
    when sp.fraud_reason_codes like '%R605%' or sp.fraud_reason_codes like 'R605%' or
     sp.fraud_reason_codes like '%R605' then 1
    else 0 end                                                                                         as r605_flag
    , case
    when sp.fraud_reason_codes like '%R705%' or sp.fraud_reason_codes like 'R705%' or
     sp.fraud_reason_codes like '%R705' then 1
    else 0 end                                                                                         as r705_flag
    , case
    when sp.fraud_reason_codes like '%I712%' or sp.fraud_reason_codes like 'I712%' or
     sp.fraud_reason_codes like '%I712' then 1
    else 0 end                                                                                         as i712_flag
    , case
    when sp.fraud_reason_codes like '%R703%' or sp.fraud_reason_codes like 'R703%' or
     sp.fraud_reason_codes like '%R703' then 1
    else 0 end                                                                                         as r703_flag
    , case
    when sp.fraud_reason_codes like '%R621%' or sp.fraud_reason_codes like 'R621%' or
     sp.fraud_reason_codes like '%R621' then 1
    else 0 end                                                                                         as r621_flag
    , case
    when sp.fraud_reason_codes like '%I552%' or sp.fraud_reason_codes like 'I552%' or
     sp.fraud_reason_codes like '%I552' then 1
    else 0 end                                                                                         as i552_flag
    , case
    when sp.fraud_reason_codes like '%I556%' or sp.fraud_reason_codes like 'I556%' or
     sp.fraud_reason_codes like '%I556' then 1
    else 0 end                                                                                         as i556_flag
    , case
    when sp.fraud_reason_codes like '%I121%' or sp.fraud_reason_codes like 'I121%' or
     sp.fraud_reason_codes like '%I121' then 1
    else 0 end                                                                                         as i121_flag
    , case
    when sp.fraud_reason_codes like '%R561%' or sp.fraud_reason_codes like 'R561%' or
     sp.fraud_reason_codes like '%R561' then 1
    else 0 end                                                                                         as r561_flag
    , case
    when sp.fraud_reason_codes like '%I704%' or sp.fraud_reason_codes like 'I704%' or
     sp.fraud_reason_codes like '%I704' then 1
    else 0 end                                                                                         as i704_flag
    , case
    when sp.fraud_reason_codes like '%I127%' or sp.fraud_reason_codes like 'I127%' or
     sp.fraud_reason_codes like '%I127' then 1
    else 0 end                                                                                         as i127_flag
    , case
    when sp.fraud_reason_codes like '%R704%' or sp.fraud_reason_codes like 'R704%' or
     sp.fraud_reason_codes like '%R704' then 1
    else 0 end                                                                                         as r704_flag
    , case
    when sp.fraud_reason_codes like '%I608%' or sp.fraud_reason_codes like 'I608%' or
     sp.fraud_reason_codes like '%I608' then 1
    else 0 end                                                                                         as i608_flag
    , case
    when sp.fraud_reason_codes like '%I551%' or sp.fraud_reason_codes like 'I551%' or
     sp.fraud_reason_codes like '%I551' then 1
    else 0 end                                                                                         as i551_flag
    , case
    when sp.fraud_reason_codes like '%R603%' or sp.fraud_reason_codes like 'R603%' or
     sp.fraud_reason_codes like '%R603' then 1
    else 0 end                                                                                         as r603_flag
    , case
    when sp.fraud_reason_codes like '%R602%' or sp.fraud_reason_codes like 'R602%' or
     sp.fraud_reason_codes like '%R602' then 1
    else 0 end                                                                                         as r602_flag
    , case
    when sp.fraud_reason_codes like '%R636%' or sp.fraud_reason_codes like 'R636%' or
     sp.fraud_reason_codes like '%R636' then 1
    else 0 end                                                                                         as r636_flag
    , case
    when sp.fraud_reason_codes like '%R614%' or sp.fraud_reason_codes like 'R614%' or
     sp.fraud_reason_codes like '%R614' then 1
    else 0 end                                                                                         as r614_flag
    , case
    when sp.fraud_reason_codes like '%I708%' or sp.fraud_reason_codes like 'I708%' or
     sp.fraud_reason_codes like '%I708' then 1
    else 0 end                                                                                         as i708_flag
    , case
    when sp.fraud_reason_codes like '%R565%' or sp.fraud_reason_codes like 'R565%' or
     sp.fraud_reason_codes like '%R565' then 1
    else 0 end                                                                                         as r565_flag
    , case
    when sp.fraud_reason_codes like '%I630%' or sp.fraud_reason_codes like 'I630%' or
     sp.fraud_reason_codes like '%I630' then 1
    else 0 end                                                                                         as i630_flag
    , case
    when sp.fraud_reason_codes like '%R632%' or sp.fraud_reason_codes like 'R632%' or
     sp.fraud_reason_codes like '%R632' then 1
    else 0 end                                                                                         as r632_flag
    , case
    when sp.fraud_reason_codes like '%I601%' or sp.fraud_reason_codes like 'I601%' or
     sp.fraud_reason_codes like '%I601' then 1
    else 0 end                                                                                         as i601_flag
    , case
    when sp.fraud_reason_codes like '%I555%' or sp.fraud_reason_codes like 'I555%' or
     sp.fraud_reason_codes like '%I555' then 1
    else 0 end                                                                                         as i555_flag
    , case
    when sp.fraud_reason_codes like '%I618%' or sp.fraud_reason_codes like 'I618%' or
     sp.fraud_reason_codes like '%I618' then 1
    else 0 end                                                                                         as i618_flag
    , case
    when sp.fraud_reason_codes like '%R562%' or sp.fraud_reason_codes like 'R562%' or
     sp.fraud_reason_codes like '%R562' then 1
    else 0 end                                                                                         as r562_flag
    , case
    when sp.fraud_reason_codes like '%I351%' or sp.fraud_reason_codes like 'I351%' or
     sp.fraud_reason_codes like '%I351' then 1
    else 0 end                                                                                         as i351_flag
    , case
    when sp.fraud_reason_codes like '%I713%' or sp.fraud_reason_codes like 'I713%' or
     sp.fraud_reason_codes like '%I713' then 1
    else 0 end                                                                                         as i713_flag
    , case
    when sp.fraud_reason_codes like '%R618%' or sp.fraud_reason_codes like 'R618%' or
     sp.fraud_reason_codes like '%R618' then 1
    else 0 end                                                                                         as r618_flag
    , case
    when sp.fraud_reason_codes like '%I707%' or sp.fraud_reason_codes like 'I707%' or
     sp.fraud_reason_codes like '%I707' then 1
    else 0 end                                                                                         as i707_flag
    , case
    when sp.fraud_reason_codes like '%R558%' or sp.fraud_reason_codes like 'R558%' or
     sp.fraud_reason_codes like '%R558' then 1
    else 0 end                                                                                         as r558_flag
    , case
    when sp.fraud_reason_codes like '%R615%' or sp.fraud_reason_codes like 'R615%' or
     sp.fraud_reason_codes like '%R615' then 1
    else 0 end                                                                                         as r615_flag
    , case
    when sp.fraud_reason_codes like '%R607%' or sp.fraud_reason_codes like 'R607%' or
     sp.fraud_reason_codes like '%R607' then 1
    else 0 end                                                                                         as r607_flag
    , case
    when sp.fraud_reason_codes like '%R637%' or sp.fraud_reason_codes like 'R637%' or
     sp.fraud_reason_codes like '%R637' then 1
    else 0 end                                                                                         as r637_flag
    , case
    when sp.fraud_reason_codes like '%I602%' or sp.fraud_reason_codes like 'I602%' or
     sp.fraud_reason_codes like '%I602' then 1
    else 0 end                                                                                         as i602_flag
    , case
    when sp.fraud_reason_codes like '%R625%' or sp.fraud_reason_codes like 'R625%' or
     sp.fraud_reason_codes like '%R625' then 1
    else 0 end                                                                                         as r625_flag
    , case
    when sp.fraud_reason_codes like '%R709%' or sp.fraud_reason_codes like 'R709%' or
     sp.fraud_reason_codes like '%R709' then 1
    else 0 end                                                                                         as r709_flag
    , case
    when sp.fraud_reason_codes like '%R557%' or sp.fraud_reason_codes like 'R557%' or
     sp.fraud_reason_codes like '%R557' then 1
    else 0 end                                                                                         as r557_flag
    , case
    when sp.fraud_reason_codes like '%R604%' or sp.fraud_reason_codes like 'R604%' or
     sp.fraud_reason_codes like '%R604' then 1
    else 0 end                                                                                         as r604_flag
    , case
    when sp.fraud_reason_codes like '%R708%' or sp.fraud_reason_codes like 'R708%' or
     sp.fraud_reason_codes like '%R708' then 1
    else 0 end                                                                                         as r708_flag
    , case
    when sp.fraud_reason_codes like '%R622%' or sp.fraud_reason_codes like 'R622%' or
     sp.fraud_reason_codes like '%R622' then 1
    else 0 end                                                                                         as r622_flag
    , case
    when sp.fraud_reason_codes like '%R551%' or sp.fraud_reason_codes like 'R551%' or
     sp.fraud_reason_codes like '%R551' then 1
    else 0 end                                                                                         as r551_flag
    , case
    when sp.fraud_reason_codes like '%R702%' or sp.fraud_reason_codes like 'R702%' or
     sp.fraud_reason_codes like '%R702' then 1
    else 0 end                                                                                         as r702_flag
    , case
    when sp.fraud_reason_codes like '%R633%' or sp.fraud_reason_codes like 'R633%' or
     sp.fraud_reason_codes like '%R633' then 1
    else 0 end                                                                                         as r633_flag
    , case
    when sp.fraud_reason_codes like '%R611%' or sp.fraud_reason_codes like 'R611%' or
     sp.fraud_reason_codes like '%R611' then 1
    else 0 end                                                                                         as r611_flag
    , case
    when sp.fraud_reason_codes like '%I350%' or sp.fraud_reason_codes like 'I350%' or
     sp.fraud_reason_codes like '%I350' then 1
    else 0 end                                                                                         as i350_flag
    , case
    when sp.fraud_reason_codes like '%R629%' or sp.fraud_reason_codes like 'R629%' or
     sp.fraud_reason_codes like '%R629' then 1
    else 0 end                                                                                         as r629_flag
    , case
    when sp.fraud_reason_codes like '%R626%' or sp.fraud_reason_codes like 'R626%' or
     sp.fraud_reason_codes like '%R626' then 1
    else 0 end                                                                                         as r626_flag
    , case
    when sp.fraud_reason_codes like '%R707%' or sp.fraud_reason_codes like 'R707%' or
     sp.fraud_reason_codes like '%R707' then 1
    else 0 end                                                                                         as r707_flag
    , case
    when sp.fraud_reason_codes like '%R710%' or sp.fraud_reason_codes like 'R710%' or
     sp.fraud_reason_codes like '%R710' then 1
    else 0 end                                                                                         as r710_flag
    , case
    when sp.fraud_reason_codes like '%R563%' or sp.fraud_reason_codes like 'R563%' or
     sp.fraud_reason_codes like '%R563' then 1
    else 0 end                                                                                         as r563_flag
    , case
    when sp.fraud_reason_codes like '%R630%' or sp.fraud_reason_codes like 'R630%' or
     sp.fraud_reason_codes like '%R630' then 1
    else 0 end                                                                                         as r630_flag
    , case
    when sp.fraud_reason_codes like '%R350%' or sp.fraud_reason_codes like 'R350%' or
     sp.fraud_reason_codes like '%R350' then 1
    else 0 end                                                                                         as r350_flag
    , case
    when sp.fraud_reason_codes like '%R511%' or sp.fraud_reason_codes like 'R511%' or
     sp.fraud_reason_codes like '%R511' then 1
    else 0 end                                                                                         as r511_flag

, row_number()
over(partition by business_application_id order by sp.socure_pull_date desc,sp.created_datetime desc) as rank_1

from pl_base a
left join product_application_facts paf on a.dw_application_id = paf.application_id
left join socure_pull sp on paf.socure_id = sp.socure_id
) b
where rank_1 = 1
)



,tmx_data as (
select * from (
select a.*,
tmp.true_ip,
tmp.outcome        AS tmx_outcome,
--risk_rating        AS tmx_risk_rating,
summary_risk_score AS threatmetrix_score,
case when tmp.outcome isnull then 0 else 1 end as tmx_flag,
case when tmp.outcome = 'FAIL' then 1 else 0 end as tmx_flag_v2,
row_number() over (partition by business_application_id order by threat_metrix_pull_date desc,created_datetime desc ) as rank_2
from socure_data a 
left join threat_metrix_pull tmp on a.borrower_id = tmp.borrower_id
and tmp.kind_of_business='LENDING' and threat_metrix_pull_date<=date_doc_upload and threat_metrix_pull_date>=date_start
) a where rank_2=1
)


,mtpln_strategy as (
select a.*,
case when b.name isnull then 'Other' else b.name end as metropolitan_strategic_area
from tmx_data a
left join
(select trim(split_part(c::TEXT,'-',1)) as c1,trim(split_part(c::TEXT,'-',2)) as c2,trim(split_part(c::TEXT,'-',3)) as c3,
trim(split_part(c::TEXT,'-',4)) as c4,
trim(split_part(s::TEXT,'-',1)) as s1,trim(split_part(s::TEXT,'-',2)) as s2,trim(split_part(s::TEXT,'-',3)) as s3,
trim(split_part(s::TEXT,'-',4)) as s4                   ,name from
(select name,trim(split_part(name::TEXT,',',1)) as c,trim(split_part(name::TEXT,',',2)) as s from dwanalyst.msa_info) c)b
on (trim(a.applied_city)=b.c1 or trim(a.applied_city)=b.c2 or trim(a.applied_city)=b.c3 or trim(a.applied_city)=b.c4) and
(trim(a.applied_state)=b.s1 or trim(a.applied_state)=b.s2 or trim(a.applied_state)=b.s3 or trim(a.applied_state)=b.s4) where applied_city is not null

)


,fraud_review as (
select bc.*,
wf.queued_for_review_flag,
wf.fraud_review_flag,
wf.confirmed_fraud_flag,
wf.pending_review_flag,
case when wf.confirmed_fraud_flag=1 then 'Confirmed Fraud'
when wf.cleared_review_flag=1 then 'Cleared Review'
when wf.pending_review_flag=1 then 'Pending Review'
else 'Not Queued for Fraud Review'
end as fraud_review_outcome_flag,

GIACT_status_flag
from mtpln_strategy bc

left join (select af.id
, min(case when act.activity in ('verify ownership','auto verify ownership') and act.status in ('DECLINE') then '1. Fail'
when act.activity in ('verify ownership','auto verify ownership')  then  '2. Pass' else '3. Pending'  end) as  GIACT_status_flag
, max(case when act.activity in ('fraud investigation') and act.status not in ('CNCL') then 1 else 0 end) as fraud_review_flag
, max(case when act.activity in ('fraud investigation') and act.status in ('FRAUD FOUND') then 1 else 0 end) as confirmed_fraud_flag
, max(case when act.activity in ('fraud investigation') and act.status in ('NO FRAUD','CNCL') then 1 else 0 end) as cleared_review_flag
, max(case when act.activity in ('fraud investigation') and act.status in ('SCHD') then 1 else 0 end) as pending_review_flag
, max(case when act.activity in ('fraud investigation') and act.status in ('CNCL','FRAUD FOUND','NO FRAUD') then 1 else 0 end) as completed_review_flag
, max(case when act.activity in ('fraud investigation') and act.status in ('SCHD','CNCL','FRAUD FOUND','NO FRAUD') then 1 else 0 end) as queued_for_review_flag

from applications_file af
--left join applications app on app.business_application_id = af.id
left join application_activity_facts aaf  on aaf.application_id = af.dw_application_id
left join activities act on aaf.activity_id = act.activity_id
left join dates st_dt on aaf.active_date_id = st_dt.date_id

--       from application_activity_facts aaf
--    left join activities act on aaf.activity_id = act.activity_id
--    left join applications app on aaf.application_id = app.application_id
--    left join applications_file af on app.business_application_id = af.id
where
af.date_submit between date('2021-01-01') and date('2022-05-31')
and af.application_type in ('PL')
and af.date_submit is not null 
and st_dt.calendar_date >= date_doc_upload
group by 1) wf on (bc.business_application_id=wf.id)

)

,idv_type_data as 
(select a.*,
id_verif.idv_type 
from fraud_review a 
left join

(select 
af.id , 
case when auto_flag = 1 and
(identity_review_bypass_status != 'PASS_INSTANT_ID' or
identity_review_bypass_status is null) then 'Auto (KYC)' 
when auto_flag = 1  then 'Auto (InstantID)' 
when ocr_flag = 1 then 'OCR Verification'
when  ir_flag = 1 then 'Manual'
when af.current_activity in  ('Signing','Funded') then 'Manual' 
when af.current_activity in  ('Declined','Expired','Withdrawn') and ir_flag = 0 then 'Declined /
Expired / Withdrawn before VOI' else 'Awaiting ID Verification' end as
idv_type from applications_file af left join applications app  on
app.business_application_id = af.id left join (select af.id
, max(case when act.activity in ('verify id doc') and act.status in ('PASSED_AUTO') then 1 else 0 end) as auto_flag
, max(case when act.activity in ('verify id doc') and act.status in ('PASSED_OCR','PASSED_EXCEPT_ADDR') then 1 else 0 end) as ocr_flag
, max(case when act.activity in ('identity review') then 1 else 0 end) as ir_flag
from applications_file af
--left join applications app on app.business_application_id = af.id
left join application_activity_facts aaf  on aaf.application_id = af.dw_application_id
left join activities act on aaf.activity_id = act.activity_id
where af.date_submit between date('2021-01-01') and date('2022-05-31')
and af.application_type in ('PL')
and af.date_submit is not null 
group by 1) act on af.id = act.id
where af.date_submit between date('2021-01-01') and date('2022-05-31')
and af.application_type in ('PL')
and af.date_submit is not null 
order by 1) id_verif
on id_verif.id=a.business_application_id
)


,income_comp as (
select 

a.*
,b.*
,lbd.loan_id
,lbd.origination_date
,lbd.original_prin
,lbd.charge_off_date
,lbd.charge_off_prin
,lbd.charge_off_amount,lbd.charge_off_reason
,case when charge_off_date is not null and charge_off_reason in ('FRAUD-ID') then 1 else 0 end as charge_off_fraud_id_ind
,case when charge_off_date is not null and last_payment_date is null then 1 else 0 end as straight_roller_ind

    from idv_type_data a
left join (
select af.id               as in_vef_id
, max(case
    when act.activity in ('auto verify employment and income') and
         act.status in ('VERIFIED') then 1
    else 0 end) as TWN_flag
, max(case
    when act.activity in ('income review', 'complex income review') and
         act.status in ('SKIPPED') and app.income_review_bypass_reason = 'YES_SELECTED_LEM'
        then 1
    when act.activity = 'auto income review' and act.status = 'PASSED' and
         app.income_review_bypass_reason = 'YES_SELECTED_LEM' then 1
    else 0 end) as LEM_VOI_flag
, max(case
    when act.activity in ('income review', 'complex income review') and
         act.status in ('SKIPPED') and
         app.income_review_bypass_reason not in ('YES_SELECTED_MODEL', 'YES_SELECTED_LEM')
        then 1
    when act.activity = 'auto income review' and act.status = 'PASSED' and
         app.income_review_bypass_reason not in ('YES_SELECTED_MODEL', 'YES_SELECTED_LEM')
        then 1
    else 0 end) as bypass_flag
, max(case
    when act.activity in ('income review', 'complex income review') and
         act.status in ('SKIPPED') and
         app.income_review_bypass_reason = 'YES_SELECTED_MODEL' then 1
    when act.activity = 'auto income review' and act.status = 'PASSED' and
         app.income_review_bypass_reason = 'YES_SELECTED_MODEL' then 1
    else 0 end) as tof_model_flag
, max(case
    when act.activity in ('verify income') and act.status in ('PASSED_PAYSTUB') then 1
    else 0 end) as paystub_ocr_flag
, max(case
    when act.activity in ('verify income') and act.status in ('PASSED_IL') then 1
    else 0 end) as nova_flag
, max(case
    when act.activity in ('verify income') and act.status in ('PASSED_IL_MODEL') then 1
    else 0 end) as income_model_flag
, max(case
    when act.activity in ('income review', 'complex income review') and
         act.status not in ('SKIPPED') then 1
    else 0 end) as ir_flag
, max(case
    when act.activity in ('application review') and act.status in ('MGR REVIEW') then 1
    else 0 end) as med_dent_ir_flag
, max(case
    when act.activity in ('verify income') and
         act.status in ('PASSED_DEPOSIT', 'PASSED_DEPOSIT_OFFER') then 1
    else 0 end) as quovo_flag
, max(case
    when act.activity in
         ('employment verification', 'evaluate request to verify employment') then 1
    else 0 end) as VOE_flag

from dwmart.applications_file af
left join application_activity_facts aaf on (af.dw_application_id = aaf.application_id)
left join activities act on aaf.activity_id = act.activity_id
left join applications app on aaf.application_id = app.application_id
where af.date_submit between date('2021-01-01') and date('2022-05-31')
and af.date_submit is not null 

group by 1) b  on a.business_application_id = b.in_vef_id
left join dwmart.loans_blended_daily lbd on a.business_application_id = lbd.id
)



,charge_off_MOB5_flgs as (

select a.* 
,b.charge_off_at_mob05_deceased
,b.charge_off_at_mob05_fraud
,b.charge_off_at_mob05_bankruptcy
,b.loan_status

from income_comp a left join (

select 
lbd.id
,lbd.loan_id
,lbd.loan_status


--,lbd.origination_date

--,sum(lbm.current_prin) as current_balance_at_mob05

,max(case when lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF')
and lbd.charge_off_reason in ('DECEASED','DECEASED-ESTATE') then 1 else 0 end) as charge_off_at_mob05_deceased

,max(case when lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF')
and lbd.charge_off_reason in ('FRAUD-ID','FRAUD-MISREP') then 1 else 0 end) as charge_off_at_mob05_fraud

,max(case when lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF')
and lbd.charge_off_reason = 'BANKRUPTCY'  then 1 else 0 end) as charge_off_at_mob05_bankruptcy


--, max(case when lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF') and lbm.last_payment_date is null
--then 1 else 0 end) as charge_off_at_mob5_ind_no_pay


from loans_blended_daily lbd
left join loans_blended_monthly lbm on lbd.loan_id = lbm.loan_id and lbm.seasoning_orig = 5

where lbd.application_type in ('PL')
and lbd.origination_date between '2021-01-01' and '2022-05-31'
group by 1,2,3) b on a.loan_id=b.loan_id)




, DPD_30_MOB_3_DPD_60_MOB_6M as (


select a.* 
,b.id
,b.ever_dpd30_co_3m_ind
,b.ever_dpd60_co_6m_ind

from charge_off_MOB5_flgs a left join (


select af.id

, max(case when lbm.SEASONING_ORIG <= 3 and (lbm.days_past_due >= 30 or lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF')) then 1 else 0 end) as ever_dpd30_co_3m_ind
, max(case when lbm.SEASONING_ORIG <= 6 and (lbm.days_past_due >= 60 or lbm.loan_status in ('CHARGE OFF','CHARGE OFF PIF','CHARGE OFF COMPLETE','WRITE OFF')) then 1 else 0 end) as ever_dpd60_co_6m_ind

from dwmart.loans_blended_daily lbd
left join dwmart.applications_file af on lbd.id = af.id
left join dwmart.loans_blended_monthly lbm on lbd.loan_id = lbm.loan_id and lbm.SEASONING_ORIG <= 6
where af.date_submit  between '2021-01-01' and '2022-05-31'
and lbd.application_type = 'PL'
group by 1
order by 1) b on a.business_application_id=b.id)  



select 


 a.business_application_id
,a.applicant_id
,a.borrower_id
,a.dw_application_id
,a.application_type
,a.requested_amount
,a.initial_term
,a.interest_rate
,a.fraud_type
--,a.fraudulent
,a.applied_city
,a.applied_state
,a.applied_zip
,a.applied_cbsa_name
,a.applied_cbsa_code
,a.employer_name
,a.loan_purpose
,a.tier
,a.credit_score
,a.fico
,a.vantage
,a.gross_income
,a.initial_decision
,a.sofi_score
,a.pl_custom_score
,a.reason
,a.housing_status
--,a.age
,a.date_start
,a.date_submit
,a.date_doc_upload
,a.registration_date
,a.date_fund
,a.current_activity
,a.consolidated_channel
,a.consolidated_channel_v2
,a.attr_affiliate_referrer
,a.affiliate_referrer_name_v2
,a.coborrower_indicator
,a.member_indicator
,a.fraud_status
,a.no_touch
,a.dtr_calc
,a.free_cash_flow_v2_calc
,a.risk_ability_to_pay_calc
,a.income_verification_method
,a.first_name
,a.last_name
,a.email
,a.current_phone_number
,a.current_addr_line_1
,a.current_addr_line_2
,a.date_of_birth
,a.current_city   
,a.current_state
,a.current_zipcode
,a.ssn  
,a.funded 



,b.socure_outcome
,b.socure_flag
,b.socure_flag_v2
,b.kind_of_business
,b.fraud_score_2
,b.sigma_v2_score
,b.fraud_score_1
,b.email_risk_score
,b.address_risk_score
,b.phone_risk_score
,b.cbsa_voe_flag
,b.i610_flag
,b.r701_flag
,b.r601_flag
,b.i626_flag
,b.r606_flag
,b.i553_flag
,b.r617_flag
,b.i705_flag
,b.r608_flag
,b.i609_flag
,b.r628_flag
,b.i616_flag
,b.r559_flag
,b.i711_flag
,b.r627_flag
,b.r566_flag
,b.v120_flag
,b.r623_flag
,b.r616_flag
,b.r631_flag
,b.i714_flag
,b.i550_flag
,b.i706_flag
,b.i625_flag
,b.r613_flag
,b.r567_flag
,b.i611_flag
,b.i614_flag
,b.r624_flag
,b.r635_flag
,b.r605_flag
,b.r705_flag
,b.i712_flag
,b.r703_flag
,b.r621_flag
,b.i552_flag
,b.i556_flag
,b.i121_flag
,b.r561_flag
,b.i704_flag
,b.i127_flag
,b.r704_flag
,b.i608_flag
,b.i551_flag
,b.r603_flag
,b.r602_flag
,b.r636_flag
,b.r614_flag
,b.i708_flag
,b.r565_flag
,b.i630_flag
,b.r632_flag
,b.i601_flag
,b.i555_flag
,b.i618_flag
,b.r562_flag
,b.i351_flag
,b.i713_flag
,b.r618_flag
,b.i707_flag
,b.r558_flag
,b.r615_flag
,b.r607_flag
,b.r637_flag
,b.i602_flag
,b.r625_flag
,b.r709_flag
,b.r557_flag
,b.r604_flag
,b.r708_flag
,b.r622_flag
,b.r551_flag
,b.r702_flag
,b.r633_flag
,b.r611_flag
,b.i350_flag
,b.r629_flag
,b.r626_flag
,b.r707_flag
,b.r710_flag
,b.r563_flag
,b.r630_flag
,b.r350_flag
,b.r511_flag

,c.tmx_outcome
,c.threatmetrix_score
,c.tmx_flag
,c.tmx_flag_v2

,d.metropolitan_strategic_area


,e.queued_for_review_flag
,e.fraud_review_flag
,e.confirmed_fraud_flag
,e.pending_review_flag
,e.fraud_review_outcome_flag
,e.GIACT_status_flag

,g.idv_type

,i.origination_date
,i.original_prin
--,i.charge_off_date
--,i.charge_off_prin
,i.charge_off_amount
,i.charge_off_reason
,i.charge_off_fraud_id_ind
,i.straight_roller_ind


,j.charge_off_at_mob05_deceased
,j.charge_off_at_mob05_fraud
,j.charge_off_at_mob05_bankruptcy
,j.loan_status

,k.ever_dpd30_co_3m_ind
,k.ever_dpd60_co_6m_ind


from pl_base a left join socure_data b on a.business_application_id=b.business_application_id
left join tmx_data c on a.business_application_id = c.business_application_id
left join mtpln_strategy d on a.business_application_id = d.business_application_id
left join fraud_review e on a.business_application_id = e.business_application_id
left join idv_type_data g on a.business_application_id = g.business_application_id
left join income_comp i on a.business_application_id = i.business_application_id
left join charge_off_MOB5_flgs j on i.loan_id = j.loan_id
left join DPD_30_MOB_3_DPD_60_MOB_6M k on a.business_application_id = k.id

--limit 1000


""",conn)

### experian_attributes_json

df_bureau_attr=pd.read_sql("""
select 
apf.id
--,apf.applicant_id
-- ,apf.date_doc_upload
--,cp.credit_pull_id
--,cp.vantage_score
--,cp.fico_score
,cp.experian_attribute_json 
from applications_file apf 
left join underwriting_info ui on apf.dw_application_id = ui.application_id and ui.underwriting_run_code = 'initial'
left join underwriting_credit_facts ucf on ui.underwriting_info_id = ucf.underwriting_info_id
left join credit_pull cp on ucf.primary_credit_pull_id = cp.credit_pull_id
where apf.application_type IN ('PL')
and apf.date_fund is not null 
and apf.date_submit  between '2021-01-01' and '2022-05-31'

--limit 5


;""",conn)

df_bureau_attr.shape

#### ID_Verification

ID_Verification = run_query("""

select 
ta.target_id
, max(case when aaq.reason in ('Reject - Missing Identity Infomation','Reject - Unable to Verify Identity') then 1 else 0 end) as id_decline_flag
from TDM_ORIGINATIONS.CLEANSED.CORE_TARGET_ACTIVITY ta
left join TDM_ORIGINATIONS.CLEANSED.CORE_TARGET_ACTIVITY_QUALIFICATIONS taq on ta.id = taq.target_activity_id
left join TDM_ORIGINATIONS.CLEANSED.CORE_ACTIVITY_CTGRY_QUALIFICATIONS acq on acq.activity_ctgry_qual_id = taq.activity_ctgry_qual_id
left join TDM_ORIGINATIONS.CLEANSED.CORE_ACTIVITY_ACTION_QUALIFICATIONS aaq on aaq.activity_actn_qual_id = acq.activity_actn_qual_id
where date(ta.created_dt) between '2021-01-01' and '2022-05-31'
group by 1  

;""")

ID_Verification.shape

channel =  run_query("""select id, 
channel_clean 
from TDM_LENDING.LENDING.DS_APPLICATIONS_FILE_VIEW 
where application_type = 'PL'
and DATE_SUBMIT  between '2021-01-01' and '2022-05-31'""")

#### Merge

final = pd.merge(pl_base,df_bureau_attr, left_on = 'business_application_id', right_on = 'id' , how='left')
del final['id']

ID_Verification['TARGET_ID'] = ID_Verification['TARGET_ID'].astype('int32')

final_2 = pd.merge(final,ID_Verification, left_on = 'business_application_id', right_on = 'TARGET_ID', how='left')
del final_2['TARGET_ID']

final_3 = pd.merge(final_2,channel, left_on = 'business_application_id', right_on = 'ID',how='left')
del final_3['ID']

df = final_3.copy()
import gc        
del final_3
gc.collect()

df = df[~df.index.isin(df[df.drop('experian_attribute_json',axis=1).duplicated()].index)]

df.columns = df.columns.str.lower()

df.rename(columns={'funded':'funded_ind'},inplace=True)

df['du_ind'] = np.where(df['date_doc_upload'].isna(), 0, 1)

##### blind_flag

blind_index = df.loc[df['du_ind']==1,['business_application_id']].sample(frac=0.4, replace=False, random_state=1)

blind_index.to_csv('blind_index.csv')

df['blind_flag']= np.where(df.business_application_id.isin(blind_index.business_application_id),1,0)

df.blind_flag.value_counts(dropna=False)

## df_final

df.to_parquet('df_final.parquet.gzip',
              compression='gzip')

##### Guardinex fields

df[["business_application_id"
  ,"date_submit" 
  ,"first_name"
  ,"last_name"
  ,"email"
  ,"current_phone_number"
  ,"current_addr_line_1"
  ,"current_addr_line_2"
  ,"current_city"
  ,"current_state"
  ,"current_zipcode"
  ,"ssn"
  ,"date_of_birth"
  ,"channel_clean"
  ,"funded_ind"
  ,"loan_status"
   ,'blind_flag']].to_csv('pl_guardinex.csv')

### Stats

In [5]:
!pip install fastparquet -- quiet 
import fastparquet
df = pd.read_parquet("df_final.parquet.gzip", engine = 'fastparquet')

Collecting fastparquet
  Downloading fastparquet-0.8.0.tar.gz (400 kB)
     || 400 kB 8.7 MB/s
  Preparing metadata (setup.py) ... done
ERROR: Could not find a version that satisfies the requirement quiet (from versions: none)
ERROR: No matching distribution found for quiet

ModuleNotFoundError: No module named 'fastparquet'

In [4]:
def memory_usage_mb(df, *args, **kwargs):
    """Dataframe memory usage in MB."""
    return df.memory_usage(*args, **kwargs).sum()

def reduce_memory_usage(df, deep=True, verbose=True, categories=True):
    # All types that we want to change for "lighter" ones.
    # int8 and float16 are not include because we cannot reduce
    # those data types.
    # float32 is not include because float16 has too low precision.
    numeric2reduce = ["int16", "int32", "int64", "float64"]
    start_mem = 0
    if verbose:
        start_mem = memory_usage_mb(df, deep=deep)

    for col, col_type in df.dtypes.iteritems():
        best_type = None
        if col_type == "object":
            df[col] = df[col].astype("category")
            best_type = "category"
        elif col_type in numeric2reduce:
            downcast = "integer" if "int" in str(col_type) else "float"
            df[col] = pd.to_numeric(df[col], downcast=downcast)
            best_type = df[col].dtype.name
        # Log the conversion performed.
        # if verbose and best_type is not None and best_type != str(col_type):
        # print(f"Column {col} converted from {col_type} to {best_type}")

    if verbose:
        end_mem = memory_usage_mb(df, deep=deep)
        diff_mem = start_mem - end_mem
        percent_mem = 100 * diff_mem / start_mem
        print(
            f"Memory usage decreased from"
            f" {start_mem:.2f}MB to {end_mem:.2f}MB"
            f" ({diff_mem:.2f}MB, {percent_mem:.2f}% reduction)"
        )

In [5]:
import sys
import psutil
# utility functions
def memory_usage():
    print('total memory: {} GB'.format(psutil.virtual_memory()[0]/1000000000))
    print('available memory: {} GB'.format(psutil.virtual_memory()[1]/1000000000))
    print('used memory: {} GB'.format(psutil.virtual_memory()[3]/1000000000))
    print('free memory: {} GB'.format(psutil.virtual_memory()[4]/1000000000))
    print('active memory: {} GB'.format(psutil.virtual_memory()[5]/1000000000))
    print('inactive memory: {} GB'.format(psutil.virtual_memory()[6]/1000000000))
    print('buffers memory: {} GB'.format(psutil.virtual_memory()[7]/1000000000))
    print('cached memory: {} GB'.format(psutil.virtual_memory()[8]/1000000000))
memory_usage()

total memory: 66.714914816 GB
available memory: 49.669763072 GB
used memory: 16.333361152 GB
free memory: 48.955785216 GB
active memory: 16.859963392 GB
inactive memory: 0.323055616 GB
buffers memory: 0.2179072 GB
cached memory: 1.207861248 GB

In [154]:
reduce_memory_usage(df)

MemoryError: Unable to allocate 3.80 GiB for an array with shape (698, 730093) and data type object

In [82]:
df.loc[~df["date_fund"].isnull()].groupby(pd.to_datetime(df['date_submit']).dt.to_period('M')).size()

date_submit
2021-01     7523
2021-02     7183
2021-03    10678
2021-04    11065
2021-05    13960
2021-06    14962
2021-07    14945
2021-08    16843
2021-09    18538
2021-10    19316
2021-11    18307
2021-12    17795
2022-01    25492
2022-02    23372
2022-03    27832
2022-04    28151
2022-05    30910
Freq: M, dtype: int64

In [71]:
df.groupby(pd.to_datetime(df['date_submit']).dt.to_period('M')).size()

date_submit
2021-01    17293
2021-02    15746
2021-03    22087
2021-04    21648
2021-05    27269
2021-06    29475
2021-07    31602
2021-08    35903
2021-09    44559
2021-10    64338
2021-11    44211
2021-12    45634
2022-01    70249
2022-02    58328
2022-03    65642
2022-04    64401
2022-05    71708
Freq: M, dtype: int64

In [73]:
df.loc[df["du_ind"]==1].groupby(pd.to_datetime(df['date_submit']).dt.to_period('M')).size()

date_submit
2021-01    10307
2021-02     9649
2021-03    13933
2021-04    14225
2021-05    17820
2021-06    19147
2021-07    19158
2021-08    21972
2021-09    25454
2021-10    27092
2021-11    24864
2021-12    24189
2022-01    37029
2022-02    33160
2022-03    38602
2022-04    38745
2022-05    42479
Freq: M, dtype: int64

In [76]:
df.loc[~df["date_fund"].isnull()].groupby(pd.to_datetime(df['date_submit']).dt.to_period('M')).size()

date_submit
2021-01     7523
2021-02     7183
2021-03    10678
2021-04    11065
2021-05    13960
2021-06    14962
2021-07    14945
2021-08    16843
2021-09    18538
2021-10    19316
2021-11    18307
2021-12    17795
2022-01    25492
2022-02    23372
2022-03    27832
2022-04    28151
2022-05    30910
Freq: M, dtype: int64

In [9]:
df.confirmed_fraud_flag.value_counts(dropna=False)

0.0    401594
NaN    312268
1.0     16231
Name: confirmed_fraud_flag, dtype: int64

In [10]:
df.du_ind.value_counts()

1    417825
0    312268
Name: du_ind, dtype: int64

In [112]:
df.loc[df["du_ind"]==1,['du_ind','blind_flag']].blind_flag.value_counts(dropna=False)

0    250695
1    167130
Name: blind_flag, dtype: int64

In [113]:
df.loc[df['blind_flag']==1,['confirmed_fraud_flag']].value_counts()

confirmed_fraud_flag
0.0                     160811
1.0                       6319
dtype: int64

In [114]:
df.loc[df['blind_flag']==0,['confirmed_fraud_flag']].value_counts()

confirmed_fraud_flag
0.0                     240783
1.0                       9912
dtype: int64

In [115]:
pt1 = df[['date_submit','confirmed_fraud_flag']].pivot_table(index=[pd.to_datetime(df['date_submit']).dt.to_period('M')], columns =['confirmed_fraud_flag'], aggfunc=len)
pt1.rename(columns ={'date_submit':'confirmed_fraud_flag'},inplace=True)
pt1.columns.rename([None,None],inplace=True)

In [116]:
pt1["0"] = pt1.iloc[:,0]/(pt1.iloc[:,0]+pt1.iloc[:,1])
pt1["1"] = (1-(pt1.iloc[:,0]/(pt1.iloc[:,0]+pt1.iloc[:,1])))

In [117]:
pt1

            confirmed_fraud_flag               0         1
                             0.0   1.0
date_submit
2021-01                     9999   308  0.970117  0.029883
2021-02                     9384   265  0.972536  0.027464
2021-03                    13636   297  0.978684  0.021316
2021-04                    13867   358  0.974833  0.025167
2021-05                    17403   417  0.976599  0.023401
2021-06                    18604   543  0.971640  0.028360
2021-07                    18571   587  0.969360  0.030640
2021-08                    21244   728  0.966867  0.033133
2021-09                    24191  1263  0.950381  0.049619
2021-10                    25111  1981  0.926879  0.073121
2021-11                    23706  1158  0.953427  0.046573
2021-12                    22804  1385  0.942743  0.057257
2022-01                    34276  2753  0.925653  0.074347
2022-02                    32075  1085  0.967280  0.032720
2022-03                    37666   936  0.975753  0.024247
2022-04                    37805   940  0.975739  0.024261
2022-05                    41252  1227  0.971115  0.028885

#### Du_ind

In [118]:
df.loc[(df["du_ind"]==1) & (df["blind_flag"]==1)].id_decline_flag.value_counts()
df.loc[(df["du_ind"]==1) & (df["blind_flag"]==0)].id_decline_flag .value_counts()

0    163431
1      3699
Name: id_decline_flag, dtype: int64

0    244915
1      5780
Name: id_decline_flag, dtype: int64

In [119]:
df.filter(regex='ever')

        ever_dpd30_co_3m_ind  ever_dpd60_co_6m_ind
0                        NaN                   NaN
1                        0.0                   0.0
2                        0.0                   0.0
3                        0.0                   0.0
4                        NaN                   NaN
...                      ...                   ...
730098                   NaN                   NaN
730099                   0.0                   0.0
730100                   NaN                   NaN
730101                   NaN                   NaN
730102                   0.0                   0.0

[730093 rows x 2 columns]

#### Funded_ind

In [120]:
df.loc[(df["funded_ind"]==1),"blind_flag"].value_counts()

0    183780
1    123092
Name: blind_flag, dtype: int64

In [121]:
df['yearmonth'] = pd.to_datetime(df['date_submit']).dt.to_period('M')
# df[pd.to_datetime(df['date_submit']).dt.to_period('M').between(pd.to_datetime(df['date_submit']).dt.to_period('M').min(), pd.to_datetime(df['date_submit']).dt.to_period('M').max()-3)]

In [122]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-3))].ever_dpd30_co_3m_ind.value_counts()

0.0    87688
1.0      657
Name: ever_dpd30_co_3m_ind, dtype: int64

In [123]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-3))].ever_dpd30_co_3m_ind.value_counts()

0.0    130706
1.0       922
Name: ever_dpd30_co_3m_ind, dtype: int64

In [126]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-6))].ever_dpd60_co_6m_ind.value_counts()

0.0    91145
1.0      612
Name: ever_dpd60_co_6m_ind, dtype: int64

In [125]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-6))].ever_dpd60_co_6m_ind.value_counts()

0.0    61127
1.0      430
Name: ever_dpd60_co_6m_ind, dtype: int64

In [133]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].straight_roller_ind.value_counts()

0    68421
1      209
Name: straight_roller_ind, dtype: int64

In [130]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].straight_roller_ind.value_counts()

0    102186
1       299
Name: straight_roller_ind, dtype: int64

In [134]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_deceased.value_counts()

0.0    102466
1.0        15
Name: charge_off_at_mob05_deceased, dtype: int64

In [135]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_deceased.value_counts()

0.0    68616
1.0       12
Name: charge_off_at_mob05_deceased, dtype: int64

In [137]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_fraud.value_counts()

0.0    68522
1.0      106
Name: charge_off_at_mob05_fraud, dtype: int64

In [139]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_fraud.value_counts()

0.0    102318
1.0       163
Name: charge_off_at_mob05_fraud, dtype: int64

In [142]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==0) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_bankruptcy.value_counts()

0.0    102466
1.0        15
Name: charge_off_at_mob05_bankruptcy, dtype: int64

In [143]:
df.loc[(df["funded_ind"]==1) & 
       (df["blind_flag"]==1) & 
       (df['yearmonth'].between(df['yearmonth'].min(),df['yearmonth'].max()-5))].charge_off_at_mob05_bankruptcy.value_counts()

0.0    68612
1.0       16
Name: charge_off_at_mob05_bankruptcy, dtype: int64

## Ssn

In [6]:
conn = psycopg2.connect(host = 'localhost',port = 15759,database='sofi_dw',user='isarver@sofi.org',password=' ')

ssn = pd.read_sql("""
select distinct party_id as partyid, cast(value as varchar) as ssn 
from tax b
    where b.snapshot_id is null and b.effective_end_dt is null
    and b.effective_start_dt between date '2021-01-01' and date '2022-05-31';
""", conn)


ssn2 = run_query("""

select 

id as business_application_id, 
b.user_id

from sofi_dw.dwmart.applications_file app
left join sofi_dw.sofidw.product_application_facts paf on app.id = paf.application_id
left join sofi_dw.sofidw.borrowers b on app.applicant_id = b.user_id

where application_type IN ('PL')
and date_submit is not null 
and date_submit  between date('2021-01-01') and date('2022-05-31')

""")

In [7]:
ssn_complete = pd.merge(ssn2, ssn , left_on='USER_ID',right_on = 'partyid')

In [8]:
ssn_complete.columns = ssn_complete.columns.str.lower()
ssn_complete.rename(columns ={'ssn':'ssn2'}, inplace= True )

In [9]:
ssn_complete.head()

   business_application_id   user_id   partyid       ssn2
0                 16149041  11390996  11390996  608098038
1                 13891903  17012633  17012633  054505049
2                 15275824  19486768  19486768  007527493
3                 16256839  22200355  22200355  310963228
4                 16250240  22200355  22200355  310963228

In [10]:
df2 = pd.merge(df, ssn_complete[["business_application_id","ssn2"]], on= 'business_application_id' ,how= 'left')
df2.ssn2.isnull().sum()

212998

In [11]:
df2.ssn.isnull().sum()

330421

In [19]:
df2.ssn2.isnull().sum()

212998

In [13]:
df.loc[df.ssn.isnull()].groupby(['du_ind']).size()

du_ind
0    239757
1     90664
dtype: int64

In [15]:
df2.loc[df2.ssn2.isnull()].groupby(['du_ind']).size()

du_ind
0    185718
1     27280
dtype: int64

In [145]:
ssn_complete

        BUSINESS_APPLICATION_ID   USER_ID   partyid        ssn
0                      16149041  11390996  11390996  608098038
1                      13891903  17012633  17012633  054505049
2                      15275824  19486768  19486768  007527493
3                      16256839  22200355  22200355  310963228
4                      16250240  22200355  22200355  310963228
...                         ...       ...       ...        ...
517401                 17221461  17938972  17938972  089743783
517402                 17215108  19930993  19930993  600213737
517403                 16147847  21350600  21350600  530534008
517404                 17214071  21350600  21350600  530534008
517405                 17200894  21587112  21587112  168486031

[517406 rows x 4 columns]

df2.to_parquet('df_final2.parquet.gzip',
              compression='gzip')

In [9]:
!pip install fastparquet --quiet 
import fastparquet
df2 = pd.read_parquet('df_final2.parquet.gzip', engine = 'fastparquet' )

In [10]:
def describe_df(df,floatfmt= '.3f'):
    # Numerical
    print("--" * 20)
    print('Columns:', df.shape[1])
    print('Rows:', df.shape[0])
    print("Memory usage:", (f"({(sys.getsizeof(df) / 1024 ** 2):.2f} Mb)"))

    print("--" * 20)
    print('NUMERICAL VARIABLES:')

    numerical = df.select_dtypes(include=np.number)
    concatenated_numerical = pd.concat([
        round(numerical.isnull().sum() / df.shape[0] * 100, 2).astype(str) + "%",
        numerical.isnull().sum(),
        numerical.count(),
        numerical.min(),
        numerical.mean(),
        numerical.max()
    ], axis=1, keys=["%NULLS", "COUNT_NULLS", "NOT_NULL", 'MIN', 'MEAN', 'MAX'], sort=False).sort_values('COUNT_NULLS',
                                                                                                         ascending=False).reset_index().rename(
        columns={'index': ''})

    t = numerical.mode().T
    t.rename(columns={0: 'MODE'}, inplace=True)
    concatenated_numerical = concatenated_numerical.merge(t, how='left', left_on='', right_on=t.index)
    concatenated_numerical.index = concatenated_numerical.index + 1
    concatenated_numerical = concatenated_numerical.iloc[:, [0, 4, 5, 6, 7, 1, 2, 3]]

    print(tabulate(concatenated_numerical, headers=
    [
        'MIN',
        'MEAN',
        'MAX',
        'MODE',
        "%NULLS",
        "#_NULLS",
        "NOT_NULL",

    ], tablefmt="presto", colalign=("right"), floatfmt=floatfmt))

    # Categorical

    print('-----' * 20)
    print()
    print('CATEGORICAL VARIABLES:')
    categorical = df.select_dtypes(['object','category'])
    if categorical.shape[1] == 0:
        print("No Categorical Variables")
    else:
        concatenated_categorical = pd.concat([

            round(categorical.isnull().sum() / df.shape[0] * 100, 2).astype(str) + "%",
            categorical.isnull().sum(),
            categorical.count()
        ],

            keys=["%NULLS",
                  "COUNT_NULLS",
                  "NOT_NULL"], axis=1, sort=False).sort_values('%NULLS', ascending=False).reset_index().rename(
            columns={'index': ''})

        max_unique = 5
        u_strs = []

        for col in categorical:
            series = categorical.loc[categorical[col].notnull(), col]
            n_unique = series.nunique()
            if n_unique > max_unique:
                u_strs.append(str(n_unique) + ' unique values')
            else:
                u_strs.append(str(series.unique()))

        t = pd.DataFrame(u_strs, categorical.columns)
        t = t.reset_index()
        t = t.rename(columns={'index': '', 0: 'Unique_Values'})
        concatenated_categorical = concatenated_categorical.merge(t, on='')
        concatenated_categorical.index = concatenated_categorical.index + 1

        print(tabulate(concatenated_categorical, headers=
        [
            "%NULLS",
            "#_NULLS",
            "NOT_NULL",
            "Unique_Values"

        ], tablefmt="presto", colalign=("left")))

In [14]:
import sys
from tabulate import tabulate
describe_df(df2[["business_application_id"
  ,"date_submit" 
  ,"first_name"
  ,"last_name"
  ,"email"
  ,"current_phone_number"
  ,"current_addr_line_1"
  ,"current_addr_line_2"
  ,"current_city"
  ,"current_state"
  ,"current_zipcode"
  ,"ssn2"
  ,"date_of_birth"
  ,"channel_clean"
  ,"funded_ind"
  ,"loan_status"
   ,'blind_flag']])

----------------------------------------
Columns: 17
Rows: 730093
Memory usage: (274.61 Mb)
----------------------------------------
NUMERICAL VARIABLES:
    |                         |      MIN |         MEAN |      MAX |         MODE | %NULLS   |   #_NULLS |   NOT_NULL
----+-------------------------+----------+--------------+----------+--------------+----------+-----------+------------
 1  | business_application_id | 10419202 | 15497614.666 | 17765553 | 13362273.000 | 0.0%     |         0 |     730093
 2  | funded_ind              | 0        | 0.420        | 1        |        0.000 | 0.0%     |         0 |     730093
 3  | blind_flag              | 0        | 0.229        | 1        |        0.000 | 0.0%     |         0 |     730093
----------------------------------------------------------------------------------------------------

CATEGORICAL VARIABLES:
    |                      |   %NULLS |   #_NULLS |   NOT_NULL | Unique_Values
----+----------------------+----------+-----------+------------+----------------------
 1  | loan_status          | 58.38%   | 426259    |     303834 | 17 unique values
 2  | current_phone_number | 5.08%    | 37097     |     692996 | 563582 unique values
 3  | ssn2                 | 29.17%   | 212998    |     517095 | 419252 unique values
 4  | current_addr_line_2  | 10.36%   | 75629     |     654464 | 18765 unique values
 5  | first_name           | 0.0%     | 0         |     730093 | 67467 unique values
 6  | last_name            | 0.0%     | 0         |     730093 | 179755 unique values
 7  | email                | 0.0%     | 0         |     730093 | 614294 unique values
 8  | current_addr_line_1  | 0.0%     | 0         |     730093 | 581157 unique values
 9  | current_city         | 0.0%     | 0         |     730093 | 31695 unique values
 10 | current_state        | 0.0%     | 0         |     730093 | 56 unique values
 11 | current_zipcode      | 0.0%     | 0         |     730093 | 54767 unique values
 12 | channel_clean        | 0.0%     | 0         |     730093 | 13 unique values

In [18]:
run_query("""select * from sofi_dw.dwmart.loans_blended_daily limit 5""")

,LOAN_ID,ID,APPLICANT_ID,COMMONLINE_ID,CURRENT_OWNER,CURRENT_OWNER_NAME,CURRENT_OWNER_TYPE,CURRENT_PRIN,ORIGINAL_PRIN,CUR_INT_RATE,...,INSCHOOL_PENDING_DISBURSEMENT_AMOUNT,INSCHOOL_NUM_ACTUAL_DISBURSEMENTS,INSCHOOL_CUMULATIVE_DISBURSED_PRIN,SCHOOL_TYPE,UG_DEGREE_TYPE,G_DEGREE_TYPE,PL_MONEY_BUNDLE_REDUCTION_PERCENTAGE,ELIGIBILITY_TIER,CURR_VARIABLE_RATE_TYPE,SOFR_RATE_EFFECTIVE_DATE
0,1435878,16658384,22369960,16658384,100438,"Loan Asset Issuer LLC, Series 2021 M-2",whole loan,18634.94,20000.00,13.500,...,NaN,NaN,NaN,None,UNDERGRAD,GRAD,0.0,32,None,None
1,1457910,16662533,22373816,3000010000L6CE01A,300209,Synovus,whole loan,9134.75,9403.05,6.820,...,0.0,0.0,0.0,Not-For-Profit,UNDERGRAD,GRAD,0.0,7,None,None
2,1430708,16660467,22386749,16660467,100441,D. E. Shaw Refraction Investments (Cayman) Lim...,whole loan,14032.18,15000.00,14.750,...,NaN,NaN,NaN,None,UNDERGRAD,GRAD,0.0,34,None,None
3,1431833,16665479,22431765,16665479,100115,SoFi Funding PL XIII LLC,warehouse,15494.94,18000.00,4.865,...,NaN,NaN,NaN,None,UNDERGRAD,GRAD,0.0,1,None,None
4,1442908,16664685,22499995,16664685,100410,Stone Ridge Goldman Sachs,whole loan,13428.28,15000.00,13.500,...,NaN,NaN,NaN,None,UNDERGRAD,GRAD,0.0,32,None,None

In [19]:
%%capture

!pip install pyathena

from pyathena import connect
dl = connect(
    s3_staging_dir='s3://sofi-data-science/exl/',
             region_name='us-west-2')

In [20]:
pd.read_sql("""select * from "datalake_production_kafka_raw"."domain_credit_card_state_credit_card_intermediate_data_v2" limit 5""", dl)

,value,key,offset,kafka_timestamp,kafka_timestamp_type,partition
0,"{data={Application.Birthdate=1980-06-01, KYC.A...",32604c56-0983-4700-b340-bfe47fbfdd8e,939,1605252536021,CreateTime,1
1,"{data={Application.Birthdate=1983-08-26, KYC.A...",e7476b1a-a24f-4d47-9ffb-eca1fdc9e93b,1127,1605288611196,CreateTime,2
2,"{data={Application.Birthdate=1988-02-05, APR=2...",f1f1000c-0e9e-4386-98ec-9ab59cfb8d5d,1128,1605288760016,CreateTime,2
3,"{data={Application.Birthdate=1989-06-13, APR=1...",bb217edf-9783-4d3d-979a-62c5ba51c908,602,1605190642316,CreateTime,2
4,"{data={Application.Birthdate=1960-01-10, APR=2...",f7c04cb3-bb24-49ef-9a78-ea494f96b5e5,603,1605190662549,CreateTime,2