### Potentially replace transactions dw to kaftka

In [2]:
import mdsutils
import pandas as pd

athena = mdsutils.AthenaClient(database='datalake_production_kafka')

In [5]:
tdf = pd.read_feather("../../data-transactional/raw/raw_1632860830/transactions_1632860830.feather")
tdf.shape

(49831160, 12)

In [6]:
tdf.head()

,borrower_id,banking_account_id,banking_transaction_details_id,business_account_number,transaction_created_date_id,time_of_day,transaction_code,transaction_comment,transaction_amount,account_ending_balance,card_present_ind,external_account_number
0,759048,117504781,16317791,410000282324,20200514,18:44:25,DDCK,,25.00,26152.88,False,
1,7905569,117604420,16247561,410001982150,20200513,00:49:54,POSDW,"WALMART GROCERY BENTONVILLE, AR",-104.86,363.10,False,
2,8421098,117636005,16243629,410002637853,20200513,11:22:43,POSDW,"AMAZON.COM AMZN.COM/BI SEATTLE, WA",-11.59,4049.51,False,
3,8872068,117699351,16238041,410003896324,20200514,12:30:53,POSDW,"THE SMOKIN PIG ANDERSO ANDERSON, SC",-21.47,64.09,False,
4,9051272,117702067,16235906,410003949128,20200514,18:13:37,POSDW,"TACO BELL 032060 CORALVILLE, IA",-11.65,3961.46,False,

In [7]:
tdf.columns

Index(['borrower_id', 'banking_account_id', 'banking_transaction_details_id',
       'business_account_number', 'transaction_created_date_id', 'time_of_day',
       'transaction_code', 'transaction_comment', 'transaction_amount',
       'account_ending_balance', 'card_present_ind',
       'external_account_number'],
      dtype='object')

In [ ]:
query = """
select "offset",
       "value.accountbalance",
       "value.accountnum",
       "value.partyid",
       "value.amount",
       "value.sourcedata",
       "value.transactioncode"
from datalake_production_kafka.com_sofi_banking_schemas_bankingtransactionoccurred_3
where "value.partyid"=12447
order by "offset"
limit 10;
"""